.notesContainer {
	display: flex;
	width: 100%;
}

.notesDrawer {
	width: 30%;
	margin-left: 5vh;
	margin-right: 5vh;
	background-color: blue;
	margin-top: 5vh;
	height: 80vh;
}

.noteRow {
}

.noteRowTitle {
}

.noteRowDate {
}

#activeNoteContainer {
	width: 100%;
}

#activeNote {
}

#createNoteButton {
}

/* 
<div className="notesContainer">
			<div className="notesDrawer">
				{allNotes.map((note) => {
					return (
						<div class="noteRow">
							<p class="noteRowTitle">
								{note.title ?? "Untitled Note"}
							</p>
							<p class="noteRowDate">{note.date ?? ""}</p>
						</div>
					);
				})}
			</div>
			<div className="activeNoteContainer">
				<textarea id="activeNote"></textarea>
			</div>
		</div>
         */
