.landingLogo {
    max-width: 25%;
    justify-content: center;
    
    text-align: center;
}

.smLandLogo {
    max-width: 10%;
    margin-left: 3rem;
}

.title {
    display: flex;
    justify-content: space-between;
}

.head {
    text-align: center;
    margin-right: 45%;
}

.aboutBear {
    max-width: 15%;
}

.useBear {
    max-width: 30%;
    float: right;

    margin-right: 5%;
}

.textUse {
    float: left;
    margin-left: 20%;
}