.calImg {
    display: flex;
    width: 20%;
    height:30%;

    border-style: solid;
    border-radius: 1%;
    border-color: #333;

    margin-left: 5%;
    margin-top: 2%;
}

.calibrateText {
    display: inline-block;
}

.settingBear {
    max-width: 40%;
    display: flex;
    margin-left: 2%;
    margin-top: 10%;
}

.settingsText {
    float: right;

    margin-right: 30%;
    margin-top: 3%;
}

.setInfo {
    margin: 2%;

    margin-top: 100%;
}