.calImg {
	display: flex;
	width: 20%;
	height: 30%;

	border-style: solid;
	border-radius: 1%;
	border-color: #333;

	margin-left: 5%;
	margin-top: 2%;
}

.calibrateText {
	display: inline-block;
}

#settingsContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10vh;
}

#settingBear {
	height: 300px;
}

#settingsTextContainer {
	margin-left: 30px;
	width: 40vw;
}

#settingsHeader {
	font-size: 2.5em;
}

.userInfoDisplay {
	font-size: 1.2em;
}

#logoutButton {
	display: block;
	margin: auto;
	margin-top: 30px;
	padding-top: 10px;
	background-color: #2e3138;
	border: none;
	color: #56b19c;
	padding: 7px 2px;
	text-align: center;
	font-size: larger;
	border-radius: 12px;
	width: 150px;
}
